/* Empty. Add your own CSS if you like */

body {
  font-family: 'Lato', sans-serif;
}
.logoutButton {
  text-align: center;
}

#mainImage {
  width: 100%;
  margin: 0;
}

.tabDash {
  background-color: #d3d3d3;
}

.centerDiv {
  text-align: center;
}

.rightSide {
  display: inline-block;
  width: 20%;

}
form {
  font-weight: 100;
}

.leftSide {
  display: inline-block;
  width: 75%;
  vertical-align: middle;
}
h3 {
  text-align: center;
  font-weight: 100
}
